  <div class="container" *ngIf="rates" (mouseover)="loadStatic()" (mouseover)="showRate()">
    <div class="static-currency">
        <h4>{{usd ? "USD: " + usd : null}}</h4>
        <h1>Currency Converter</h1>
        <h4>{{eur ? "EUR: " + eur : null}}</h4>
    </div> 
    <br>
   <div class="main">
        <div class="form" > 
            <label>From:</label>
            <select [formControl] = "fromSelectFormControl" (change)="loadRates(true)" (change)="loadRates(false)" (input)="changeFromToDirection(false)" >
                <option   *ngFor="let c of currencyList" [ngValue]="c">{{c}}</option>
            </select>
            <input (input)="changeFromToDirection(true)"  type="number" placeholder={{from}}   [formControl]= "fromInputControl" > 
            <input (input)="changeFromToDirection(false)"  type="number" placeholder={{to}}    [formControl]= "toInputControl">
            <label>To:</label>
            <select [formControl] = "toSelectFormControl" (change)="loadRates(false)" (change)="loadRates(true)" >
                <option *ngFor="let c of currencyList" [ngValue]="c">{{c}}</option>
            </select>
        </div>
    </div>
</div>  

 
  






