 <div class="container" *ngIf="rates" (mouseover)="loadStatic()" (mouseover)="showRate()">
    <div class="static-currency">
        <h4>{{usd ? "USD: " + usd : null}}</h4>
        <h1>Currency Converter</h1>
        <h4>{{eur ? "EUR: " + eur : null}}</h4>
    </div>
    <br>
    <div class="main">
        <label>From:</label>
        <select [(ngModel)] = "from" (change)="loadRates(true)" (change)="loadRates(false)">
            <option *ngFor="let c of getAll()" [value]="c">{{c}}</option>
        </select>
        <input  type="number" placeholder={{from}} [(ngModel)]="first" (input)="converter(true)"> 
        
        <input  type="number" placeholder={{to}}  [(ngModel)]="second" (input)="converter(false)" >
        <label>To:</label>
        <select [(ngModel)] = "to" (change)="loadRates(false)" (change)="loadRates(true)" >
            <option *ngFor="let c of getAll()" [value]="c">{{c}}</option>
        </select>
    </div>
   <br> 
</div> 



